//shamefull corrections to the core!========
.entry-content table{
  width:100%;  //this may have to be moved to core if no issues creep up.
}
//=====================================================================
//========================FULL WIDTH CSS===============================
//=====================================================================
//use this class so the first element like a 
//paragraph or select is not flush against the header of page
.first{
  margin-top:2rem;
}
.inline-radio{
  display:inline-block;
  margin-right:1.5rem;
}
//for ng-repeat of multiples in spans. Appends space and comma to all but last
.multiple-spans{
  span{
    &:after{
      content:", ";
    }
    &:last-of-type{
      &:after{
        content:" ";
      }
    }
  }
}
//=====================================================================
//==========================main blocks================================
//=====================================================================
.main-block{
  opacity:0;
  cursor:pointer;
  z-index:80;
  position:relative;
  .inner-block{
    padding: 0;
    background:$ghost;
    box-shadow: 0 0 5px 0 $steel;
    color:$oil;
    border-radius: 0 0 .30rem .30rem;
    transform-origin:50% 50%;
    transition: all 150ms;
    &:hover{
        box-shadow: 0 0 8px 0 $oil;
        background: $white;
        .main-block-image-wrap{
          //background:$black;
          img{
            //opacity:.25;
            transform:scale(1.05);
          }
        }
    }
      h3{
          margin:0;
          padding: 1.25rem .75rem .5rem .75rem;
          color:$tuatara;
          text-shadow:0 1px 0 $white;
          
      }
      p{
        padding: 0 .75rem 1rem .75rem;
        font-size:.88rem;
        line-height:1.5;
        margin:0;
        color:$oil;
      }
      ul{
        padding:0 .75rem 1rem .75rem;
        li{
          color:$oil;
        }
      }
  }

  .main-block-image-wrap{
    width:100%;
    height:auto;
    overflow:hidden;
    position:relative;
    &:after{
      content:"";
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index:300;
      border-radius: .30rem .30rem 0 0;
      box-shadow:inset 0 0 20px 5px rgba($black, .15);
    }
    img{
      width:100%;
      height:auto;
      transform-origin:50% 50%;
      transition:all 1000ms;
    }
  }
}

//=====================================================================
//==========================video single===============================
//=====================================================================
.single-video{
  video{
    width:100%;
    height:auto;
  }
}

//=====================================================================
//==============================prefooter==============================
//=====================================================================
.row .prefooter-wrap{
    background:$smoke;
    background:linear-gradient(to bottom, $silver 0%, $gainsboro 100%);
    border-top:5px solid $gainsboro;
    margin-top: rem-calc(65);
  .prefooter{
    padding:2rem 1.5rem;
    border-top:1px solid $snow;
    border-bottom:1px solid $snow;
    min-height:8rem;
    max-height:10rem;
    overflow:hidden;
    cursor:pointer;
    background:transparent;
    transition:background 300ms;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    &:hover{
      background:$silver;
    }
    p{
      margin:0;
      padding:0;
      font-style:italic;
      font-size:1rem;
      text-shadow:0 1px 0 $white;
      text-align:center;
      &:after{
        content:"...";
      }
    }
    &:first-of-type{
      border-right:1px solid $base;
    }
    &:last-of-type{
      border-left:1px solid $white;
    }
  }
}

//=====================================================================
//=======================Part number block=============================
//=====================================================================

.partnumber_set{
  padding: 0 0 .5rem 0;
  background:$white;
  border-top:3px solid $primary-dark;
  h4{
    margin: .5rem 0 .2rem 0;
    font-size:1rem;
  }
}
.partnumber_set ~ .partnumber_set{
  border-top:none;
}
.partnumber_item{
  margin: 0rem auto;
  padding:.15rem 0;
  border-bottom:1px solid $base;
  background:$white;
  &:nth-child(2){
    border-top:1px solid $base;
  }
  &:nth-child(even){
    background:$ghost;
  }
}
.partnumber_image{
  img{
    width:auto;
    height:auto;
    max-height:3rem;
    border:1px solid $ghost;
    border-radius:.2rem;
  }
}
.partnumber_text{
  ul{
    margin:0;
    padding:0;
  }
  ul li{
    list-style:none;
    margin:0;
    padding:0;
  }
  .partnumber_title{
    font-weight:bold;
    margin-bottom:.15rem;
    text-decoration:underline;
  }
  .partnumber_description{
    font-style:italic;
    font-size:.6rem;
  }
  .partnumber_number{
    margin-top:.15rem;
    font-size:.7rem;
    font-weight:bold;
  }
}



//=====================================================================
//=======================Tech Video Page=============================
//=====================================================================
video.tech-video-page-single{
  width:100%;
  height:auto;
}

//=====================================================================
//=======================Distributors Page=============================
//=====================================================================
.distributor-single-view{
  border:1px solid $silver;
  border-right:none;
  background:$ghost;
  margin-bottom:.6rem;
  padding-bottom:1rem;
  border-radius:.5rem;
  h3.company{
    color:$charcoal;
    text-shadow:0 1px 0 $white;
    margin:1rem 0 0 0;
  }
  ul.products{
    color:$base;
    text-shadow:0 1px 0 $white;
    font-style:italic;
    padding:0;
    margin:0;
    li{
      display:inline;
      margin-right:.5rem;
      &:after{
        content:",";
      }
      &:last-of-type{
        margin-right:0;
        &:after{
          content:"";
        }
      }
    }
  }
  p, pre{
    margin:.5rem 0;
    text-shadow:0 1px 0 $white;
  }
  .address{
    font-size:.8rem;
    color:$iron;
  }
  .phone:before, .fax:before{
    font:normal normal normal 14px/1 'FontAwesome';
    margin-right:.25rem;
  }
  .phone:before{
    content:"\f098";
  }
  .fax:before{
    content:"\f1ac";
  }
  .notes:before{
    content:"Notes:";
    margin-right:.25rem;
    font-weight:bold;
  }
}
.row.distributor-form{
  padding-top:1rem;
  background:$info-color;
  margin-bottom:1.25rem;
   ul.button-group{
    li{
      a.button{
      margin-bottom:.5rem;
      }
    }
  }
  h3{
    color:$charcoal;
    text-shadow:0 1px 0 $white;
    margin-top:0;
  }
}
.joyride-help{
  color:$iron;
  text-align:center;
  margin-bottom:.6rem;
  transition:color 250ms;
  cursor:pointer;
  i{
    color:scale-color($primary-color, $lightness:50%, $saturation:-50%);
    transition:color 250ms;
  }
  &:hover{
    color:$base;
    text-decoration:underline;
    i{
      color:$primary-color;
    }
  }
}

//=====================================================================
//================Compound compatibility index Page====================
//=====================================================================
.compoundCompatibility{
  .referanceLink{
    margin-right:.25rem;
    &:after{
      content:",";
    }
    &:last-of-type{
      margin-right:0;
      &:after{
        content:"";
      }
    }
  }
}
.referances{
  margin-top:3rem;
  padding-bottom:3rem;
  border-top:4px solid $secondary-color;
  background:$ghost;
}

//=====================================================================
//================Chemical compatibility index Page====================
//=====================================================================
.chemical-index{
  thead{
    th{
      text-align:center;
    }
    th span{
      color:$charcoal;
      font-size:.65rem;
      font-weight:normal;
      font-style:italic;
    }
  }
  tbody{
    tr td{
      cursor:pointer;
      text-align:center;
      &:first-of-type{
        text-align:left;
        span{
          color:$aluminum;
          font-size:.7rem;
          font-style:italic;
        }
      }
    }
  }
}

//=====================================================================
//=========================product referance table=====================
//=====================================================================
table.product-ref-table{
  th, tr, td{
    cursor:pointer;
  }
}

//=====================================================================
//===========================Plate Search Page=========================
//=====================================================================
.platesearch-form{
  .selection{
    border-right:1px solid $smoke;
    min-height:rem-calc(130px);
    &:last-of-type{
      border-right:none;
    }
    @media screen and (max-width:$small-breakpoint){
      min-height:1rem;
      border-bottom:2px solid $smoke;
    }
  }
}
.plate-cards{
  background:#white;
  border-bottom:1px solid $iron;
  margin-bottom:.5rem;
  padding: .25rem .5rem;
  transition:all 300ms;
  cursor:pointer;
  &:nth-child(odd){
    background:$ghost;
  }
  &:nth-child(2){
    border-top:1px solid $iron;
    margin-top:2rem;
  }
  &:hover{
    box-shadow:inset 3px 0 0 $primary-color;
    background:$secondary-color;
  }
  p{
    color:$jumbo;
    margin:0;
    font-size:.9rem;
    b{
      color:$oil;
    }
  }
  .card-image{
    img{
      width:auto;
      height:3rem;
      @media screen and (max-width:$small-breakpoint){
        margin: 0 auto;
        display:block;
        width:90%;
        height:auto;
      }
    }
    @media screen and (max-width:$small-breakpoint){
      padding-bottom:1.5rem;
      margin-bottom:1.5rem;
      border-bottom:1px solid $gainsboro;
    }
  }
}

//=====================================================================
//================================overlay==============================
//=====================================================================

.overlay{
  z-index:5000;
  width:100%;
  height:100%;
  background:rgba($black,.75);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  cursor:pointer;
}
.overlay-content{
  background:$white;
  padding: 3rem 5rem;
  margin-top:12%;
  cursor:pointer;
  .row{
    max-width:75rem;
    margin:0 auto;
  }
  p{
    margin-bottom:.75rem;
  }
}
.hidden{
  visibility:hidden;
}

//=====================================================================
//=========================Product page elements=======================
//=====================================================================

//hero_select_shortcode
.full-background{
 position:relative;
 img{
   width:100%;
   height:auto;
 }
}
.full-background-select{
  position:absolute;
  top:60%;
  left:0;
  right:0;
  select{
    margin: 0 15%;
    width:70%;
    opacity:.75;
    transition:all 300ms;
    border:none;
    box-shadow: 0 0 15px 3px $base;
    color:$black;
     @media screen and (max-width:$medium-breakpoint){
      margin: 0 5%;
      width: 95%;
      box-shadow: 0 0 5px 0 $base;
    }
    &:hover{
      opacity:1;
      box-shadow: 0 0 5px 0 $base;
    }
  }
}

//product inquiry module
.product-inquiry-module{
	border:1px solid $iron;
	box-shadow: 0 0 4px 0 $smoke;
	padding:2rem 1rem; //manipulated in directives.js under product_page
	//border-radius:.25rem;
	margin-top: 2.5625rem;
	margin-bottom:.625rem;
	transition:all 300ms;
	&:hover{
	  box-shadow:none;
	  border:1px solid $base;
	}
  form{
    fieldset{
      margin:0;
      border-radius: 0 0 0 0;
      .disclaimer{
        margin-bottom:0;
      }
    }
  }
	.product-inquiry{
		margin-bottom:1.5rem; //manipulated in directives.js under product_page
		&:last-of-type{
			margin-bottom:0; //manipulated in directives.js under product_page
		}
	}
}
.product-inquiry-button{
  margin:0;
}
//column text
.column-text{
  column-count:4;
  @media screen and (max-width:$medium-breakpoint){
    column-count:2;
  }
  @media screen and (max-width:$small-breakpoint){
    column-count:1;
  }
}
//comparison shortcode
.comparison{
  
}
.comparison-left{
  h3{
    color:lighten($warning-color, 20%);
    margin-top:0;
  }
  color:$iron;
}
.comparison-right{
  h3{
    color:$primary-color;
    margin-top:0;
  }
}
//related products module
.related-product-module{
  .related-product-wrap{
    cursor:pointer;
    position:relative;
    overflow:hidden;
    &:hover{
      .related-product-pannel{
        bottom:0;
        opacity:1;
      }
    }
    img{
      width:100%;
      height:auto;
    }
    .related-product-pannel{
      position:absolute;
      left:0;
      bottom:-100%;
      width:100%;
      height:100%;
      padding:1rem 1.5rem;
      background: rgba($white, .6);
      border-top:solid 2px $iron;
      //box-shadow:inset 0 0 0 1px $white, inset 0 0 0 2px $iron, inset 0 0 0px 3px $white;
      opacity:0;
      transition:bottom 150ms, opacity 1000ms;
      @media screen and (max-width:$medium-breakpoint){
        top:0;
        opacity:1;
      }
      h5{
        margin:0;
      }
    }
  }
}

//[text_image] & [image_text] shortcodes have image flush with top
// needs to be pushed down to be inline with text not header 
.push-down{
  margin-top:4rem;
}

//page-module is for column elements in a page that need to stand out
.page-module{
  background:lighten($info-color, 5%);
  border-radius:.25rem;
  border: 1px solid $iron;
  padding:.5rem 1rem;
  margin-bottom: 1rem;
  h1, h2, h3, h4, h5, h6{
    margin-top:.5rem;
  }
}


//FV page module for types of FV elements
.min-max{
  font-size:.7rem;
  line-height:1.2;
  margin-bottom:.5rem;
}
//=====================================================================
//========================Product page video row=======================
//=====================================================================
.video-row{
  background:$ghost;
}

//=====================================================================
//==============================tech links=============================
//=====================================================================

.tech-link-wrap{
  cursor:pointer;
  background:$white;
  transition:all 300ms;
  &:nth-child(even){
    background:$ghost;
  }
  &:hover{
    z-index:90;
    box-shadow:0 0 5px $jet;
    background:lighten($secondary-color, 3%);
    border-radius:.25rem;
  }
}
.tech-link{
  margin:.5rem 0;
  padding:.25rem;
  p{
    margin:0;
  }
  .tech-link-title{
    font-weight:bold;
    text-decoration:underline;
    font-size:.75rem;
    color:$black;
  }
  .tech-pdf-icon{
    color:$alert-color;
    margin-right:.5rem;
  }
  .tech-video-icon{
    color:$primary-color;
    margin-right:.5rem;
  }
  .tech-link-description{
    font-size:.70rem;
  }
  .tech-link-citation{
    font-style:italic;
    font-size:.6rem;
    color:$base;
  }
}

//on product page use class .tech-link-module for spacific styles
.tech-link-module{
  border-top:3px solid $primary-dark;
  h4{
    margin:0.5rem 0 0.2rem 0;
  }
}
//=====================================================================
//==========================PDF download link==========================
//=====================================================================
.pdfDownloadWrap{
  border-top:2px solid $jumbo;
  &:hover{
    .pdfDownloadHover{
      opacity:1;
    }
  }
  .pdfDownloadHover{
    color:$jumbo;
    font-size:.75rem;
    text-shadow:0 1px 0 $smoke;
    opacity:0;
    transition:opacity 500ms;
    
  }
  .pdfDownloadIcon{
    text-decoration:none;
    border:none;
    font-size:1.25rem;
    .down{
      color:$jet;
    }
    .file{
      color:$alert-color;
    }
    &:before{
      background:transparent;
    }
    &:hover{
      .down{
        color:lighten($jet, 25%);
      }
      .file{
        color:lighten($alert-color, 25%);
      }
    }
  }
}

//=====================================================================
//====================tech result page for PDF info====================
//=====================================================================
.tech-description, .tech-citation{
  position:relative;
  padding-left:100px;
  &:before{
    position:absolute;
    top: 0;
    left: 0;
    color:$jet;
    font-weight:bold;
    font-style:normal;
  }
}
.tech-description{
  font-size: .8rem;
  &:before{
    content: "Description:";
  }
}
.tech-citation{
  font-size:.75rem;
  color:$jumbo;
  font-style:italic;
  &:before{
    content:"Citation:";
  }
}
//=====================================================================
//===================tech result page for VIDEO info===================
//=====================================================================

.tech-VIDEO{
  video{
    width:100%;
  }
}

//=====================================================================
//============================info-module==============================
//=====================================================================
.info-module{
  ul{
    margin:0;
    padding:0;
    &:after{
      clear:both;
      content:"";
      display:table;
    }
    @media screen and (max-width:$small-breakpoint){
      margin-bottom:1rem;
    }
    li{
      list-style:none;
      float:left;
      width:19%;
      text-align:center;
      background:$silver;
      &:nth-child(1){
        background:$primary-color;
        color:$white;
        text-transform:uppercase;
        width:5%;
        padding: .5rem 0;
      }
      @media screen and (max-width:$small-breakpoint){
        width:100%;
        &:nth-child(1){
          display:none;
        }
        a{
          font-size:.75rem;
          border-bottom:1px solid $black;
        }
      }
      a{
        width:100%;
        height:100%;
        padding: .5rem 0;
        display:block;
        font-weight:bold;
        transition: background 300ms;
        &:hover{
          background:$gainsboro;
        }
      }
    }
  }
}



//=====================================================================
//=================tech library product info module====================
//=====================================================================
.techlibrary_product_info_module{
  border-right:4px solid $secondary-color;
  h3{
    margin-top:0;
    margin-bottom:0;
  }
  h4{
    margin-top:0;
    margin-bottom:.45rem;
    font-style:italic;
    font-size:1rem;
  }
  h5{
    //margin-top:.5rem;
    //margin-bottom:0;
  }
  .product_info_links{
    list-style:none;
    &:hover{
      text-decoration:underline;
    }
  }
}

//=====================================================================
//=======================tech library nav bar==========================
//=====================================================================
.techlibrary_navigation{
  margin: 0 0 1rem 0;
  padding: 0;
  &:after{
    content:"";
    display:table;
    clear:both;
  }
  li{
    float:left;
    width:25%;
    background:$snow;
    list-style:none;
    border-right:1px solid $base;
    &:last-of-type{
      border-right:none;
    }
    a{
      display:inline-block;
      width:100%;
      height:100%;
      color:$monsoon;
      font-weight:bold;
      text-align:center;
      padding:.5rem 0;
      &:hover{
        background:$smoke;
        color:$jet;
      }
    }
  }
}
//next up?