//main blocks
.main-block{
    cursor:pointer;
  .inner-block{
    padding:1.5rem 1rem;
    background:scale-color(white, $lightness:-60%);
    box-shadow: 0 3px 6px 0 hsla(0, 0%, 0%, 0.37);
    transition: box-shadow 0.2s;
    &:hover{
        box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2),0 6px 10px 0 hsla(0, 0%, 0%, 0.5);
    }
    h3{
        color:$white;
        margin:0;
        padding:1rem 0 .25rem 0;
        
    }
    p{
      padding:0 .25rem;
      color:white;
      font-size:.95rem;
      line-height:1.45;
      margin:0;
    }
  }
  .main-block-image-wrap{
    width:100%;
    height:100%;
    overflow:hidden;
    img{
      width:100%;
      height:auto;
    }
  }
}

//appblocks
.appnote-block{
  padding:.5rem 0;
  overflow:hidden;
}
.appnote-block li{
  cursor:pointer;
  padding:0 .25rem;
  .appnote-block-inner-wrap{
    background:$secondary-color;
    padding:.5rem;
    border-top:4px solid $oil;
    border-bottom:4px solid $oil;
    min-height:12rem;
    h4{
      margin:.5rem 0 .25rem 0;
      color:$warning-color;
    }
    p{
      color:$tuatara;
      font-size:.8rem;
      min-height:8rem;
      line-height:1.4;
    }
  }
}

//==============
//video single
//==============
.single-video{
  video{
    width:100%;
    height:auto;
  }
}
//next up?