//=====================================================================
//==========================main blocks================================
//=====================================================================
.main-block{
    cursor:pointer;
  .inner-block{
    padding:1.5rem 1rem;
    background:scale-color(white, $lightness:-60%);
    box-shadow: 0 0 5px 0 $steel;
    color:$white;
    transition: box-shadow 250ms;
    &:hover{
        box-shadow: 0 0 5px 0 $oil, 0 5px 8px 0 $jumbo;
    }
    h3{
        margin:0;
        color:$white-smoke;
        padding:1rem 0 .25rem 0;
        
    }
    p{
      padding:0 .25rem;
      font-size:.95rem;
      line-height:1.45;
      margin:0;
    }
  }
  .main-block-image-wrap{
    width:100%;
    height:100%;
    overflow:hidden;
    img{
      width:100%;
      height:auto;
    }
  }
}


//=====================================================================
//===========================appblocks=================================
//=====================================================================
.appnote-block{
  padding:.5rem 0;
  overflow:hidden;
}
.appnote-block li{
  cursor:pointer;
  padding:0 .25rem;
  .appnote-block-inner-wrap{
    background:$secondary-color;
    padding:.5rem;
    border-top:4px solid $oil;
    border-bottom:4px solid $oil;
    min-height:12rem;
    h4{
      margin:.5rem 0 .25rem 0;
      color:$warning-color;
    }
    p{
      color:$tuatara;
      font-size:.8rem;
      min-height:8rem;
      line-height:1.4;
    }
  }
}

//=====================================================================
//==========================video single===============================
//=====================================================================
.single-video{
  video{
    width:100%;
    height:auto;
  }
}

//=====================================================================
//==============================prefooter==============================
//=====================================================================
.row .prefooter-wrap{
    background:$smoke;
    background:linear-gradient(to bottom, $silver 0%, $gainsboro 100%);
    border-top:5px solid $gainsboro;
    margin-top: rem-calc(65);
  .prefooter{
    padding:2rem 1.5rem;
    border-top:1px solid $snow;
    border-bottom:1px solid $snow;
    min-height:8rem;
    max-height:10rem;
    overflow:hidden;
    cursor:pointer;
    background:transparent;
    transition:background 300ms;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    &:hover{
      background:$silver;
    }
    p{
      margin:0;
      padding:0;
      font-style:italic;
      font-size:1rem;
      text-shadow:0 1px 0 $white;
      text-align:center;
      &:after{
        content:"...";
      }
    }
    &:first-of-type{
      border-right:1px solid $base;
    }
    &:last-of-type{
      border-left:1px solid $white;
    }
  }
}

//=====================================================================
//=======================Part number block=============================
//=====================================================================
.partNumbers .row {
  background: $silver;
}
.partNumbers ul.partNumbers_text_block {
  margin: 1rem;
  padding: 0;
}
.partNumbers ul.partNumbers_text_block li {
  list-style: none;
  margin-bottom: .2rem;
}

.desc_1 {
  font-size: .85rem;
  font-weight: bold;
  color:$oil;
}

.desc_2 {
  font-size: .85rem;
  color: $steel;
  font-style: italic;
}

.part_num {
  font-size:.75rem;
  font-weight: bold;
  color: $aluminum;
}

//=====================================================================
//=======================Tech Video Page=============================
//=====================================================================
video.tech-video-page-single{
  width:100%;
  height:auto;
}

//next up?