@font-face {
font-family: 'Avenir Next LT Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Regular'), url('../fonts/avenir/AvenirNextLTPro-Regular.woff') format('woff');
}

@font-face {
font-family: 'Avenir Next LT Pro Bold';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Bold'), url('../fonts/avenir/AvenirNextLTPro-Bold.woff') format('woff');
}