#footer-container {
	background:$jet;
	background:linear-gradient(to bottom, $charcoal 0, $jet 85%);
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	border-top: 4px solid $iron;
	//margin-top: rem-calc(60); //adding this to pages container as pading
    h1, h2, h3, h4, h5, h6{
    	color:$yellow;
    	text-shadow:-1px 0 0 $jet;
    }
    a{
    	color:$iron;
    	font-weight:bold;
    	font-family:$font-family-title-regular;
    	transition:all 250ms;
    	text-shadow:-1px 0 0 $jet;
    	&:hover{
    		color:$white;
    	}
    }
	#footer {
		@include grid-row();
		padding: rem-calc(30) 0;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}
	.footer_foot{
		background:$jet;
		padding-bottom:.75rem;
		p{
			font-size:.75em;
			font-family:$font-family-body-condensed;
			color:$iron;
		}
		.tic-usa{
			@media screen and (max-width:$small-breakpoint){
				margin-bottom:1rem;
			}
		}
	}
}
