form{
  font-family: $font-family-body-regular;
  #your-name925htj, #your-email247htj{
  color:$white;
  border: none;
  background:$white;
}
}
fieldset{
    border-radius:.5rem;
    box-shadow: inset 0 0 5px 0px $snow;
    font-family:$font-family-body-regular;
    border:2px solid $gainsboro;
    border-left:none;
    border-right:none;
    h2{
      margin-top:0;
    }
}

.on-page-form{
    input[type="text"], input[type="email"], input[type="tel"]{
        background:white;
        border-left:none;
        border-right:none;
        border-top:none;
        box-shadow:none;
       &:focus{
           background:darken(white,3%);
           border-radius:5px 5px 0 0;
       } 
    }
    textarea{
        box-shadow:none;
        border-radius: 0 .25rem 0 .25rem;
        &:focus{
            background:darken(white, 3%);
            border-radius:5px;
            border-color:transparent;
        }
    }
    legend{
        color:scale-color($secondary-color, $lightness: -25%);
        font-size:1.1rem;
        font-weight:bold;
        padding:0 1rem;
        background:$silver;
        border-radius:1.5rem;
    }
    input[type="submit"]{
      border-radius: .25rem;
    }
}