//=========================================================
//page header and the included .entry-title
//=========================================================
article header{
  background:$silver;
  padding:rem-calc(32) rem-calc(30) 2rem rem-calc(30);
  margin: 0 0 rem-calc(32) 0;
  border-bottom: 3px solid $iron;
    @media screen and (max-width:$small-breakpoint){
    padding:rem-calc(15) rem-calc(15) 1rem rem-calc(15);
  }
}
.entry-title{
  text-transform:uppercase;
  font-weight:300;
  font-family:$font-family-sans-serif;
  font-size:2rem;
  margin:0;
  padding:0;
  color:scale-color($secondary-color, $lightness: -40%, $saturation:-20%);
  text-shadow:0 1px 0 $white;
  @media screen and (max-width:$small-breakpoint){
    font-size:1.5rem;
  }
}

//==================
//block quotes
//=================
blockquote,
q {
	hyphens: none;
	quotes: none;
}
blockquote:before,
blockquote:after{
  position:absolute;
  font-size:4em;
  font-family:$font-family-serif;
  color:$base;
}
blockquote:before{
	content: '\201C';
  left: .05em;
  top: -.15em;
}

blockquote:after{
	content: '\201D';
  right:.2em;
  bottom: -.7em;
}

blockquote {
  color: $charcoal;
  //box-shadow:0 10px 200px $faint-color-black;
  background:$ghost;
  font-size: 1rem;
  font-style: italic;
  font-weight: 300;
  line-height: 1.3;
  position:relative;
  margin-bottom: 24px;
  padding: 1rem 3.25rem;
  border:3px solid $smoke;
  border-left:none;
  border-right:none;
  z-index:500;
  footer{
    margin-top:.5rem;
    font-size:.8rem;
    color:$jumbo;
    font-style:normal;
    font-weight:700;
  }
  cite{
    font-size:.75rem;
    display:block;
    color:$aluminum;
    padding-top:.75em;
    font-weight: 400;
  }
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

//===============
//LINKS==========
//==============
.entry-content p a,
.entry-summary p a,
.page-content p a,
.comment-content p a {
	text-decoration: none;
	text-shadow:none;
	border-bottom:1px dashed $primary-color;
	background:transparent;
	transition:all 250ms;
	padding:0 .15em;
	display:inline-block;
	position:relative;
	z-index:1;
	&:before{
		content:"";
		width:100%;
		height:0%;
		z-index:-1;
		background:rgba($secondary-color,.4);
		bottom:0;
		left:0;
		position:absolute;
		transition: height 250ms;
	}
}

.entry-content p a:hover,
.entry-summary p a:hover,
.page-content p a:hover,
.comment-content p a:hover,
.entry-content p a.button,
.entry-summary p a.button,
.page-content p a.button,
.comment-content p a.button {
	text-decoration: none;
	border-color:transparent;
	color:scale-color($primary-color, $lightness: -20%);
	&:before{
		height:100%;
	}
}

p.disclaimer{
  color:$base;
  font-size:.6rem;
  font-style:italic;
}