//=========================================================
//page header and the included .entry-title
//=========================================================
article header{
  background:$white;
  padding: rem-calc(32) rem-calc(30) rem-calc(20) rem-calc(30);
  margin: 0 0 0 0;
  border-bottom: 2px solid $yellow;
  position:relative;
    @media screen and (max-width:$small-breakpoint){
    padding:rem-calc(15) rem-calc(15) 1rem rem-calc(15);
  }
}
.entry-title{
  text-transform:uppercase;
  font-weight:300;
  font-family:$font-family-title-regular;
  font-size:2rem;
  margin:0;
  padding:0;
  color: $entry-title-color;
  text-shadow:0 1px 0 $snow;
  @media screen and (max-width:$small-breakpoint){
    font-size:1.5rem;
    margin-bottom:1rem;
  }
}
//===================
// some header styles
//===================
h2 + h3{
  margin-top:0;
}
.first-h2{
  margin-top:0;
}
//==================
//block quotes
//=================
blockquote,
q {
	hyphens: none;
	quotes: none;
}
blockquote:before,
blockquote:after{
  position:absolute;
  font-size:4em;
  font-family:$font-family-serif;
  color:$base;
}
blockquote:before{
	content: '\201C';
  left: .05em;
  top: -.15em;
}

blockquote:after{
	content: '\201D';
  right:.2em;
  bottom: -.7em;
}

blockquote {
  color: $charcoal;
  //box-shadow:0 10px 200px $faint-color-black;
  background:$ghost;
  font-size: 1rem;
  font-style: italic;
  font-weight: 300;
  line-height: 1.3;
  position:relative;
  margin-bottom: 24px;
  padding: 1rem 3.25rem;
  border:3px solid $smoke;
  border-left:none;
  border-right:none;
  z-index:500;
  footer{
    margin-top:.5rem;
    font-size:.8rem;
    color:$jumbo;
    font-style:normal;
    font-weight:700;
  }
  cite{
    font-size:.75rem;
    display:block;
    color:$aluminum;
    padding-top:.75em;
    font-weight: 400;
  }
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

//===============
//LINKS==========
//==============
.entry-content dd a,
.entry-content p a{
	text-decoration: none;
	text-shadow:none;
	border-bottom:1px dashed $primary-color;
	background:transparent;
	transition:all 250ms;
	padding:0 .15em;
	display:inline-block;
	position:relative;
	z-index:1;
	&:before{
		content:"";
		width:100%;
		height:0%;
		z-index:-1;
		background:rgba($secondary-color,.4);
		bottom:0;
		left:0;
		position:absolute;
		transition: height 250ms;
	}
}

.entry-content dd a:hover,
.entry-content p a:hover{
	text-decoration: none;
	border-color:transparent;
	color:scale-color($primary-color, $lightness: -20%);
	&:before{
		height:100%;
	}
}

p.disclaimer{
  color:$base;
  font-size:.6rem;
  font-style:italic;
}
//=======================
//====definition list====
//=======================
dl{
  dt{
    margin-top: 1.25rem;
    width:75%;
    @media screen and(max-width:$medium-breakpoint){
      width:90%;
    }
    @media screen and(max-width:$small-breakpoint){
      width:100%;
    }
  }
  dd{
    margin-bottom:.5rem;
    margin-left: 1rem;
    color:$monsoon;
    width:75%;
    position:relative;
    @media screen and(max-width:$medium-breakpoint){
      width:90%;
    }
    @media screen and(max-width:$small-breakpoint){
      width:100%;
    }
    &:before{
      content: "-";
      margin-left: -1rem;
      margin-right: .7rem;
      position:absolute;
      
    }
  }
}
//=============================
//====captions under images====
//=============================
.caption{
  margin: .5rem 0 0 0;
  border-top: 1px solid $smoke;
  color:$monsoon;
  font-size:.7rem;
  font-family: $font-family-body-condensed;
  text-align:center;
}
//====================================
//===============<hr />===============
//====================================
hr{
  height:4rem;
  background:linear-gradient(
    to bottom,
    rgba($snow, 0) 0%,
    rgba($snow, .04) 5%,
    rgba($snow, .08) 10%,
    rgba($snow, .11) 15%,
    rgba($snow, .13) 20%,
    rgba($snow, .20) 25%,
    rgba($snow, .27) 30%,
    rgba($snow, .35) 35%,
    rgba($snow, .55) 40%,
    rgba($snow, .75) 45%,
    rgba($snow, 1) 50%,
    rgba($snow, .75) 55%,
    rgba($snow, .55) 60%,
    rgba($snow, .35) 65%,
    rgba($snow, .27) 70%,
    rgba($snow, .20) 75%,
    rgba($snow, .12) 80%,
    rgba($snow, .11) 85%,
    rgba($snow, .08) 90%,
    rgba($snow, .04) 95%,
    rgba($snow, 0) 100%);
    position:relative;
  &:before{
    content:"";
    position:absolute;
    top: 2rem;
    left:0;
    width:100%;
    height:1px;
    border-radius:100%;
    background:$silver;
  }
  &:after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    background:radial-gradient(ellipse at center, rgba($white, 0) 50%, rgba($white, 1) 70%);
  }
  @media screen and(max-width:$small-breakpoint){
    height:1px;
    background:$gainsboro;
    margin: 1rem 0;
    &:before{
      content:none;
    }
    &:after{
      content:none;
    }
  }
}