
//--------------------------------------------------------------------------------------
//======================================================================================
//===============================Variables from old theme===============================
//======================================================================================
//--------------------------------------------------------------------------------------

//text------------------------------------
//$title-color-black:     black;
//$body-color-black:      rgba(black,.87);
//$secondary-color-black: rgba(black, .54);
//$tertiary-color-black:  rgba(black, .38);
//$faint-color-black:     rgba(black, .18);
//---------------------------------------
//$title-color-white:     white;
//$body-color-white:      rgba(white,1);
//$secondary-color-white: rgba(white, .7);
//$tertiary-color-white:  rgba(white, .3);
//$faint-color-white:     rgba(white, .18);
//FONTS=====================================
//$font-body: 	"Source Sans Pro", sans-serif;
//$font-title: 	'Avenir Next LT Pro Bold', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
/*
	My custom settings. These variables are copied from _settings.css
	This file will only contain uncommented settings that are actually used in the theme.
*/

// We use these to define default font stacks
$font-family-sans-serif: 'Avenir Next LT Pro Regular', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-title: 	'Avenir Next LT Pro Bold', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;

// We use these to define default font weights
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

// Foundation color naming conventions
$base-color: hsla(201, 0%, 67%, 1);
//$base-color: hsla(360, 50%, 67%, 1); //red example
$white       : scale-color($base-color, $lightness: 100%);
$ghost       : scale-color($base-color, $lightness: 94%);
$snow        : scale-color($base-color, $lightness: 92%);
$vapor       : scale-color($base-color, $lightness: 89%);
$white-smoke : scale-color($base-color, $lightness: 88%);
$silver      : scale-color($base-color, $lightness: 81%);
$smoke       : scale-color($base-color, $lightness: 80%);
$gainsboro   : scale-color($base-color, $lightness: 61%);
$iron        : scale-color($base-color, $lightness: 39%);
$base        : scale-color($base-color, $lightness:  0%);
$aluminum    : scale-color($base-color, $lightness: -10%);
$jumbo       : scale-color($base-color, $lightness: -20%);
$monsoon     : scale-color($base-color, $lightness: -30%);
$steel       : scale-color($base-color, $lightness: -40%);
$charcoal    : scale-color($base-color, $lightness: -50%);
$tuatara     : scale-color($base-color, $lightness: -60%);
$oil         : scale-color($base-color, $lightness: -70%);
$jet         : scale-color($base-color, $lightness: -80%);
$black       : scale-color($base-color, $lightness: -100%);

// We use these as default colors throughout
//COLORS==================================
$primary-light:   hsl(202.2, 50.9%, 89.6%);
$primary-reg:	    hsl(201.2, 93.5%, 36.3%);
$primary-dark:	   hsl(201.4, 100%, 22.5%);
//accent----------------------------------
$accent-light:	   hsl(32.7, 80.7%, 59.4%);
$accent-reg:	     hsl(32.7, 100%, 44.3%);
$accent-dark:	    hsl(33, 100%, 33.5%);
//foundation------------------------------------
$primary-color:   $primary-reg;            //blue
$secondary-color: hsl(198, 28%, 90%);      //light blue grey
$success-color:   hsla(164, 49%, 43%, 1);  //teal
$alert-color:     hsl(0, 94%, 35%);        //red
$warning-color:   $accent-reg;             //orange
$info-color: 	    $primary-light;          //light blue

// We use these to control various global styles
$body-bg:               $white;
$body-font-color:       $oil;
$body-font-family:      $font-family-sans-serif;
$body-font-weight:      $font-weight-normal;
$body-font-style:       normal;
$header-font-weight:    300;
$header-text-rendering: optimizeLegibility;

// Set the link colors and styles for top-level nav
$topbar-link-weight:             bold;
$topbar-link-color:              $white;
$topbar-link-color-hover:        $vapor;
$topbar-link-color-active:       $vapor;
$topbar-link-color-active-hover: $white;


// Media query breakpoints
$small-breakpoint:  em-calc(640);
$medium-breakpoint: em-calc(1024);
$topbar-breakpoint: em-calc(820);
$large-breakpoint:  em-calc(1440);
$xlarge-breakpoint: em-calc(1920);

//==========================================
//======COPIED FROM _SETTINGS.SCSS==========
//==========================================
$top-search-bg-color: $white;
// Background color for the top bar
$topbar-bg-color:                $smoke;
$topbar-bg:                      scale-color($snow, $lightness: 50);
$topbar-link-bg-active-hover:    $gainsboro;
$topbar-link-color:              $charcoal;
$topbar-link-color-hover:        $jet;
$topbar-link-shadow:             $vapor;
$topbar-link-color-active-hover: $black;
$topbar-dropdown-toggle-color:   $monsoon;
$topbar-dropdown-toggle-alpha:   1;
$topbar-dropdown-toggle-size:    5px;

$topbar-top-border:              3px solid $primary-color;
$topbar-bottom-border:           1px solid $iron;

$topbar-top-border-fixed:        $topbar-bottom-border;
$topbar-bottom-border-fixed:     $topbar-top-border;


$topbar-link-color-active: $topbar-link-color-hover;
$topbar-link-bg-hover: $topbar-bg-color;
$topbar-link-bg-active:       $topbar-bg-color;
// Style the top bar dropdown elements
$topbar-dropdown-bg: $topbar-bg;
$topbar-dropdown-link-color: $topbar-link-color;
$topbar-dropdown-link-color-hover: $topbar-link-color-hover;
$topbar-dropdown-link-bg: $topbar-bg;
$topbar-dropdown-link-bg-hover: $topbar-link-bg-hover;

// Off-canvas
$tabbar-bg: $primary-color;
$off-canvas-bg: $primary-color;
$off-canvas-bg-hover: scale-color($tabbar-bg, $lightness: -30%);
$off-canvas-bg-active: scale-color($tabbar-bg, $lightness: -30%);
$off-canvas-link-color: rgba($white, 1);
//The Grid
$row-width: rem-calc(1200);

// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

// We use these to control header font styles
$entry-title-color: scale-color($secondary-color, $lightness: -40%, $saturation:-20%);
 $header-font-family: $font-family-title;
 $header-font-weight: 700;
 $header-font-color: scale-color($primary-color, $lightness: 10%, $saturation: -60%);
 $header-top-margin: rem-calc(31);
 $header-bottom-margin: rem-calc(10);

// We use these to control header font sizes
 $h1-font-size: rem-calc(24);
 $h2-font-size: rem-calc(22);
 $h3-font-size: rem-calc(20);
 $h4-font-size: rem-calc(18);
 $h5-font-size: rem-calc(16);
 $h6-font-size: 1rem;
 
// We use these to control header size reduction on small screens
 $h1-font-reduction: rem-calc(10);
 $h2-font-reduction: rem-calc(3);
 $h3-font-reduction: rem-calc(3);
 $h4-font-reduction: rem-calc(5);
 $h5-font-reduction: 0;
 $h6-font-reduction: 0;

 $paragraph-font-size: rem-calc(14);
 $paragraph-line-height: 1.5;
 $paragraph-margin-bottom: rem-calc(21);
 $paragraph-aside-font-size: rem-calc(12);

// We use these to style blockquotes
 $blockquote-font-color: $oil;
 $blockquote-padding: rem-calc(4 28);
 $blockquote-cite-font-color: $aluminum;
 
// We use these to style the <hr> element
// $hr-border-width: 1px;
// $hr-border-style: solid;
// $hr-border-color: $gainsboro;
// $hr-margin: rem-calc(20);

// 30. Tables
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $include-html-table-classes: $include-html-classes;

// These control the background color for the table and even rows
// $table-bg: $white;
// $table-even-row-bg: $snow;

// These control the table cell border style
// $table-border-style: solid;
// $table-border-size: 1px;
 $table-border-color: $secondary-color;
 .entry-content table{
  border-left:none;
  border-right:none;
  border-top:4px solid $secondary-color;
    th{
   border-right:1px dashed $gainsboro;
   &:last-of-type{
    border:none;
   }
  }
  td{
   border-right:1px dashed $gainsboro;
   &:last-of-type{
    border:none;
   }
  }
 }

// These control the table head styles
 $table-head-bg: $vapor;
 $table-head-font-size: rem-calc(12);
 $table-head-padding: rem-calc(5 8 8);

// These control the row padding and font styles
 $table-row-padding: rem-calc(5 8);
 $table-row-font-size: rem-calc(12);
 $table-row-font-color: $tuatara;

// Forms

 $fieldset-border-color: $secondary-color;


//selection of text on site
::selection {
	background: $secondary-color;
	color: scale-color($primary-color, $lightness: -20%);
	text-shadow: none;
}

::-moz-selection {
	background: $secondary-color;
	color: scale-color($primary-color, $lightness: -15%);
	text-shadow: none;
}

// 01. Accordion
// - - - - - - - - - - - - - - - - - - - - - - - - -

$accordion-navigation-padding: rem-calc(10 20 10 20);
$accordion-navigation-bg-color: scale-color($secondary-color, $lightness: 15%);
$accordion-navigation-hover-bg-color: scale-color($accordion-navigation-bg-color, $lightness: -5%);
$accordion-navigation-active-bg-color: scale-color($primary-color, $lightness: 40%, $saturation: -50%);
$accordion-navigation-font-color: $tuatara;
$accordion-navigation-font-size: rem-calc(14);
$accordion-content-padding: rem-calc(0 0 10 0);


// 31. Tabs
// - - - - - - - - - - - - - - - - - - - - - - - - -

$tabs-navigation-padding: rem-calc(10);
$tabs-navigation-bg-color: scale-color($secondary-color, $lightness: 15%);
$tabs-navigation-active-bg-color: scale-color($primary-color, $lightness: 40%, $saturation: -50%);
$tabs-navigation-hover-bg-color: scale-color($accordion-navigation-bg-color, $lightness: -5%);
$tabs-navigation-font-color: $tuatara;
$tabs-navigation-active-font-color: $white;
$tabs-navigation-font-size: rem-calc(14);
$tabs-content-margin-bottom: rem-calc(24);





















